# Compiled binary
rtgpoll

config/config.h

# Compiled Object files
*.slo
*.lo
*.o
*.Po

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# http://www.gnu.org/software/automake
Makefile
Makefile.in
config.log
config.status

# http://www.gnu.org/software/autoconf
autom4te.cache/*
aclocal.m4
compile
configure
depcomp
install-sh
missing
.deps/*

autom4te.cache/output.1
autom4te.cache/requests
autom4te.cache/traces.1
config/config.h
src/.deps/rtghash.Po
src/.deps/rtgpoll.Po
src/.deps/rtgsnmp.Po


# Indent backups
*.[hc]~
